
/* General */
*
 {
     margin: 0px;
     padding: 0px;
 }
h5
{
    color: white;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#div 
{
    margin-bottom: 20px;
    width: 200px;
}
#div p
{
    font-size: 12px;
    margin-left: 20px;
    color: whitesmoke;
}
#org 
{
     color: #ff7a00;
}
.clear 
{
     clear: both;
}
 #clr
{
    color: whitesmoke;
}
body
{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
h1, h2, h3, h4 
{
    color:#444;
}
h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}
h2 
{
    font-size: 55px;
}
h3 
{
    font-size: 35px;
}
h4 
{
font-size: 24px;
}
p 
{
    line-height: 20px;
     color: #777;
}
small 
{
    font-style: italic;
    font-size: 15px;
}

ul
{
    list-style: none;
}
a 
{
    text-decoration: none;
    color: #444;

}
ol
{
    list-style: none;
}
ol a 
{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 12px;
}
#ab
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.orange
{
    color: #ff7a00;
}
/* Header */
header
{
    height: 120px;
    margin-bottom: 80px;
}
header div h1
{
    float: left;
    margin-top: 32px;
}
header div nav 
{
    float: right;
    margin-top: 50px;
}
header div nav ul li 
{
    float: left;
    display: inline-block;
}
header div nav ul li a 
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}
header div nav ul li a:hover 
{
    color: #02d8dd;
}
/* AD */
#ad 
{
    background: url('voyage2.jpeg') center;
    height:880px;
}
#ad h2
{
    font-weight: normal; 
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
    
}
.button1
{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color:#fff;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 auto;  
    line-height: 50px;
    text-align: center;
}
.button1:hover
{
    background: #02d8dd;
}
/* Ae */
#ae ul
{
   margin: 80px 0;
}
#ae h4 
{
    text-transform: uppercase;
    margin-bottom: 20px;
}
#ae ul li
{
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 125px;
}
#ae p
{
   margin-bottom: 20px;
}
/* Af */
#af 
{
    background-color: #444;
    padding: 60px 0;
}
.as
{
    margin: auto 0;
    
}
.at
{
    margin: 0 10px;
    
}
#af article 
{
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
    display: inline;
}
#af article:first-child
{
    margin: 20px 20px;
    
}
.over 
{
    background: rgba(255,255,255,0.65);
    width: 230px;
    height: 230px;
    border-radius: 10px 0 0 10px;
    padding: 20px;
}
article h4 
{
    text-transform: uppercase;
    border-bottom: 1px solid #777;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}
article p
{
    text-align: center;
}
.button2 
{
    color: #fff;
    background-color: #ff7a00;
    text-align: center;
    border-radius: 10px;
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    margin: 30px auto;
}
.button2:hover
{
    
    background: #02d8dd;
}
/* Ag */
.ovar
{
    margin: 30px 10px;
}
#ag h3 
{
    text-transform: uppercase;
    border-bottom: 1px solid #02d8dd;
    padding-bottom: 20px;
    text-align: center; 
    width: 600px;
    margin: 0 auto;
}
#ag p 
{
    text-align: center;
    margin: 30px 40px 0 40px;
}
form 
{
    height: 80px;
}
form div
{
    margin: 0 auto;  
    text-align: center;
}
form div span
{
    margin-left: 20px;  
}
label 
{
    font-weight: bold;
    font-size: 17px;
    color: #777;
}
input[type="text"]
{
    height: 30px;
    border-radius: 6px;
}
input[type="submit"]
{
    height: 34px;
    width: 40px;
    border-radius: 6px;
    background-color: #02d8dd;
    color: #fff;
}
input[type="submit"]:hover
{
  background: #444;
}

/* Footer */
footer 
{
    background-color:rgba(0, 0, 0, 0.781);
    height: 260px;

}
footer h1
{ 
    color:whitesmoke;
    text-align: center;
    padding-top: 80px;
}
footer p 
{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}
